body {
  font-family: Georgia, sans-serif;
}

/* social icon */
nav {
  font-family: Georgia, sans-serif;
  color: #4865a3;
  font-size: 1.3rem;
  background: transparent;
  box-shadow: var(--light-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  font-size: 1.5rem;
  color: #4865a3;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

/* drop down menu font */
.nav-toggle:hover {
  color: #413f3d;
  transform: rotate(90deg);
}

.logo {
  height: 80px;
  /* margin: 0 auto; */
}

.links a {
  top: 50%;
  color: #413f3d;
  font-size: 1.2rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

@media screen and (min-width: 800px) {
  .nav-center {
    top: 50%;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: block;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    align-items: center;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }

  /* main header */
  .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    color: #413f3d;
    text-transform: capitalize;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }

  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
