/* .booking-dropdown {
  width: 85%;
  padding: 4% 0;
  background-color: hsl(44, 22%, 59%);
  color: white;
  margin: 2% 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
}
.booking-dropdown:hover {
  width: 85%;
  padding: 4% 0;
  margin: 2% 0;
  font-family: "Roboto";
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  text-align: center;
  background-color: hsl(44, 22%, 59%);
  color: white;
}
.booking-dropdown:focus {
  outline: none;
  box-shadow: none;
}
.booking-dropdown-menu {
  outline: none;
}
.booking-dropdown-item:hover {
  background-color: white;
}
.booking-dropdown-item:active {
  background-color: white;
  color: rgb(0, 0, 0);
}

@media (min-width: 768px) {
  .booking-dropdown {
    font-size: 1.2rem;
  }
} */
